*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store
.idea/
target/
node_modules/
db/phonecat.log
db/phonecat.lck
.settings/
.classpath
.project

# compiled output
angular-app/dist
angular-app/tmp
angular-app/out-tsc
# Only exists if Bazel was run
angular-app/bazel-out

# dependencies
angular-app/node_modules
node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
.metadata/

# IDE - VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
.sass-cache
connect.lock
coverage/*
libpeerconnection.log
npm-debug.log
testem.log
typings

# e2e
angular-app/e2e/*.js
angular-app/e2e/*.map

#System Files
.DS_Store
Thumbs.db
